@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/yorkville");
@import url("https://fonts.cdnfonts.com/css/noir-et-blanc");
@import url("https://fonts.cdnfonts.com/css/extravaganzza");
@import url("http://fonts.cdnfonts.com/css/haghistydemo");
@import url("http://fonts.cdnfonts.com/css/josefin-sans-std-3");
@font-face {
  font-family: "Robertooooo";
  src: url("../fonts/Roobert-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  // padding: 0; dont do this. you are too late now
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
hl,
h2,
h3,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*-----Variab1es----*/
$green-color: #6cff8d;
$dark-green-color: #6cff8c7a;
$red-color: #f44336;
$blue-color: #2196f3;
$yellow-color: #ffea5c;
$darkish-blue: #060b11;
$box-shadow-blue1: rgba(31, 38, 135, 0.27);
$box-shadow-blue2: rgba(31, 38, 135, 0.67);

/*-----Predefined classes------*/
.section {
  padding: 1rem;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 5rem;

  @media (min-width: 650px) {
    padding: 5rem;
  }
}
